首先导入使用的包，使用request进行网页请求，使用pandas保存数据

In [ ]:
import requests
import pandas as pd
import time

设置请求头，伪装为浏览器

In [4]:
headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.13 Safari/537.36'
}

发起请求，将找到的第一个数据源作为请求目标

In [5]:
url = 'https://c.m.163.com/ug/api/wuhan/app/data/list-total'   # 定义要访问的地址 
r = requests.get(url, headers=headers)  # 使用requests发起请求

In [6]:
print(r.status_code)  # 查看请求状态

200

In [7]:
print(type(r.text))
print(len(r.text))

<class 'str'>
321018

可以看到返回后的内容是一个几十万长度的字符串，由于字符串格式不方便进行分析，并且在网页预览中发现数据为类似字典的json格式，所以我们将其转为json格式

In [8]:
import json
data_json = json.loads(r.text)

In [9]:
type(data_json)

dict

In [10]:
data_json.keys()

dict_keys(['reqId', 'code', 'msg', 'data', 'timestamp'])

可以看出在data中存放着我们需要的数据，因此我们取出数据

In [12]:
data = data_json['data'] # 取出json中的数据
data.keys()

dict_keys(['chinaTotal', 'chinaDayList', 'lastUpdateTime', 'overseaLastUpdateTime', 'areaTree'])

 数据中总共有四个键，每个键存储着不同的内容：


|键名称 |数据内容|
|:--|--:|
|chinaTotal|全国当日数据|
|chinaDayList|全国历史数据|
|lastUpdateTime|更新时间|
|areaTree|世界各地实时数据|

接下来我们分别获取实时数据和历史数据。

### 实时数据爬取
#### 全国各省实时数据爬取

首先我们抓取全国各省的实时数据，在areaTree键值对中，存放着世界各地的实时数据，areaTree是一个列表，每一个元素都是一个国家的数据，每一个元素的children是各国家省份的数据

In [13]:
data_province = data['areaTree'][2]['children']  # 取出中国各省的实时数据children

In [14]:
type(data_province)

list

data_province是列表格式，每个元素是一个省的实时数据，并且为字典格式，每个省的键名称全部相同

In [15]:
data_province[0].keys() # 查看每个省键名称

dict_keys(['today', 'total', 'extData', 'name', 'id', 'lastUpdateTime', 'children'])

各省数据键值含义如下：<br>

|键名称|数据内容|
|:--|--:|
|today|各省当日数据|
|total|各省当日累计数据|
|extData|无任何数据|
|name|各省名称|
|id |各省行政编号|
|lastUpdateTime|更新时间|
|children|各省下一级数据|

In [16]:
for i in range(len(data_province)): # 遍历查看各省名称、更新时间
    print(data_province[i]['name'],data_province[i]['lastUpdateTime'])
    if i == 5:
        break

湖北 2020-07-01 00:04:02
广东 2020-07-01 08:23:59
河南 2020-07-01 00:04:01
浙江 2020-07-01 00:04:02
香港 2020-07-01 10:43:48
湖南 2020-07-01 00:04:02

用DataFrame以字典格式生成数据的例子，传入一个列表，列表每一个元素都是字典

In [17]:
test_dict = [{'a':1,
              'b':2,
              'c':3,},
             
             {'a':111,
              'b':222}]
pd.DataFrame(test_dict)

     a    b    c
0    1    2  3.0
1  111  222  NaN

In [18]:
pd.DataFrame(data_province).head() # 直接提取数据效果并不理想

,today,total,extData,name,id,lastUpdateTime,children
0,"{'confirm': 0, 'suspect': None, 'heal': 0, 'de...","{'confirm': 68135, 'suspect': 0, 'heal': 63623...",{},湖北,420000,2020-07-01 00:04:02,"[{'today': {'confirm': 0, 'suspect': None, 'he..."
1,"{'confirm': 0, 'suspect': None, 'heal': 0, 'de...","{'confirm': 1641, 'suspect': 0, 'heal': 1627, ...",{},广东,440000,2020-07-01 08:23:59,"[{'today': {'confirm': 0, 'suspect': None, 'he..."
2,"{'confirm': 0, 'suspect': None, 'heal': 0, 'de...","{'confirm': 1276, 'suspect': 0, 'heal': 1254, ...",{},河南,410000,2020-07-01 00:04:01,"[{'today': {'confirm': 0, 'suspect': None, 'he..."
3,"{'confirm': 0, 'suspect': None, 'heal': 0, 'de...","{'confirm': 1269, 'suspect': 0, 'heal': 1267, ...",{},浙江,330000,2020-07-01 00:04:02,"[{'today': {'confirm': 0, 'suspect': None, 'he..."
4,"{'confirm': 2, 'suspect': None, 'heal': 2, 'de...","{'confirm': 1205, 'suspect': 0, 'heal': 1107, ...",{},香港,810000,2020-07-01 10:43:48,"[{'today': {'confirm': 2, 'suspect': None, 'he..."

不能直接生成DataFrame是因为数据中嵌套着字典，例如湖北省数据如下：标红线表示带有嵌套字典，篮筐内没有嵌套字典。
<img src="https://imgkr.cn-bj.ufileos.com/5714dd10-2a60-44fc-ab80-33ff1485f673.png">

逐个拆解数据，我们已经了解children为下一地级数据，我们只分析到省单位，因此各省的children数据不采集；extData为空值，也不采集，最后具体采集方法如下：

不需要采集的数据：children、extData。
需要采集的数据：由于数据中today和total嵌套着字典，因此不能直接获取，对于id、lastUpdateTime、name、可以直接取出为一个数据，today为一个数据，total为一个数据，最后三个数据合并为一个数据。

In [19]:
# 获取id、lastUpdateTime、name
info = pd.DataFrame(data_province)[['id','lastUpdateTime','name']]
info.head()

       id       lastUpdateTime name
0  420000  2020-07-01 00:04:02   湖北
1  440000  2020-07-01 08:23:59   广东
2  410000  2020-07-01 00:04:01   河南
3  330000  2020-07-01 00:04:02   浙江
4  810000  2020-07-01 10:43:48   香港

In [20]:
info.shape

(34, 3)

列表推导式例子

In [21]:
l1 = [1,1,1,2,2,2]

In [22]:
l2 = [i+1 for i in l1 ]
l2

[2, 2, 2, 3, 3, 3]

In [23]:
# 获取today中的数据
today_data = pd.DataFrame([province['today'] for province in data_province ]) 
today_data.head()

   confirm suspect  heal  dead severe  storeConfirm
0        0    None     0     0   None             0
1        0    None     0     0   None             0
2        0    None     0     0   None             0
3        0    None     0     0   None             0
4        2    None     2     0   None             0

In [24]:
today_data.shape

(34, 6)

In [25]:
['today_'+i for i in today_data.columns]

['today_confirm',
 'today_suspect',
 'today_heal',
 'today_dead',
 'today_severe',
 'today_storeConfirm']

In [26]:
today_data.columns = ['today_'+i for i in today_data.columns] # 由于today中键名和total键名相同，因此需要修改列名称

In [27]:
today_data.head()

,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm
0,0,None,0,0,None,0
1,0,None,0,0,None,0
2,0,None,0,0,None,0
3,0,None,0,0,None,0
4,2,None,2,0,None,0

In [28]:
# 获取total中的数据
total_data = pd.DataFrame([province['total'] for province in data_province ])
total_data.columns = ['total_'+i for i in total_data.columns]
total_data.head()

,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,total_newConfirm,total_newDead,total_newHeal
0,68135,0,63623,4512,0,0,NaN,NaN,NaN
1,1641,0,1627,8,0,0,NaN,NaN,NaN
2,1276,0,1254,22,0,0,NaN,NaN,NaN
3,1269,0,1267,1,0,0,NaN,NaN,NaN
4,1205,0,1107,7,0,0,NaN,NaN,NaN

In [29]:
total_data.shape

(34, 9)

In [30]:
pd.concat([info,total_data,today_data],axis=1).head() # 将三个数据合并

,id,lastUpdateTime,name,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,total_newConfirm,total_newDead,total_newHeal,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm
0,420000,2020-07-01 00:04:02,湖北,68135,0,63623,4512,0,0,NaN,NaN,NaN,0,None,0,0,None,0
1,440000,2020-07-01 08:23:59,广东,1641,0,1627,8,0,0,NaN,NaN,NaN,0,None,0,0,None,0
2,410000,2020-07-01 00:04:01,河南,1276,0,1254,22,0,0,NaN,NaN,NaN,0,None,0,0,None,0
3,330000,2020-07-01 00:04:02,浙江,1269,0,1267,1,0,0,NaN,NaN,NaN,0,None,0,0,None,0
4,810000,2020-07-01 10:43:48,香港,1205,0,1107,7,0,0,NaN,NaN,NaN,2,None,2,0,None,0

In [32]:
def get_data(data,info_list):
    info = pd.DataFrame(data)[info_list] # 主要信息
    
    today_data = pd.DataFrame([i['today'] for i in data ])       # 提取today的数据
    today_data.columns = ['today_'+i for i in today_data.columns] # 修改列名 columns
    
    total_data = pd.DataFrame([i['total'] for i in data ])       # 提取total的数据
    total_data.columns = ['total_'+i for i in total_data.columns] # 修改列名 columns
    
    return pd.concat([info,total_data,today_data],axis=1) # info、today和total横向合并最终得到汇总的数据

In [33]:
today_province = get_data(data_province,['id','lastUpdateTime','name'])
today_province.head()

,id,lastUpdateTime,name,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,total_newConfirm,total_newDead,total_newHeal,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm
0,420000,2020-07-01 00:04:02,湖北,68135,0,63623,4512,0,0,NaN,NaN,NaN,0,None,0,0,None,0
1,440000,2020-07-01 08:23:59,广东,1641,0,1627,8,0,0,NaN,NaN,NaN,0,None,0,0,None,0
2,410000,2020-07-01 00:04:01,河南,1276,0,1254,22,0,0,NaN,NaN,NaN,0,None,0,0,None,0
3,330000,2020-07-01 00:04:02,浙江,1269,0,1267,1,0,0,NaN,NaN,NaN,0,None,0,0,None,0
4,810000,2020-07-01 10:43:48,香港,1205,0,1107,7,0,0,NaN,NaN,NaN,2,None,2,0,None,0

In [34]:
def save_data(data,name): # 定义保存数据方法
    file_name = name+'_'+time.strftime('%Y_%m_%d',time.localtime(time.time()))+'.csv'
    data.to_csv(file_name,index=None,encoding='utf_8_sig')
    print(file_name+' 保存成功！')

In [35]:
time.strftime('%Y_%m_%d',time.localtime(time.time()))

'2020_07_01'

In [36]:
save_data(today_province,'today_province')

today_province_2020_07_01.csv 保存成功！

#### 世界各国实时数据爬取

之前已经了解到在json数据`data`中的`areaTree`是列表格式，每个元素都是一个国家的实时数据，每个元素的`children`是各国家省份的数据，现在我们提取世界各国实时数据。

<img src="https://imgkr.cn-bj.ufileos.com/88e17c8a-d72a-4f55-933a-1f935ad10703.png">

In [37]:
areaTree = data['areaTree'] # 取出areaTree

In [38]:
areaTree[0] # 查看第一个国家的数据

{'today': {'confirm': 2,
  'suspect': None,
  'heal': 2,
  'dead': 0,
  'severe': None,
  'storeConfirm': None},
 'total': {'confirm': 1174,
  'suspect': 0,
  'heal': 1031,
  'dead': 50,
  'severe': 0,
  'input': 0},
 'extData': {},
 'name': '突尼斯',
 'id': '9577772',
 'lastUpdateTime': '2020-07-01 01:08:30',
 'children': []}

`areaTree`中每个键值的含义：

|键名称|数据内容|
|--|--|
|today|当日数据|
|total|累计数据|
|extData|无任何数据|
|name|国家名称|
|id |各国编号|
|lastUpdateTime|更新时间|
|children|各国下一级数据(例如省份或州)|

In [39]:
for i in range(len(areaTree)):  # 查看各国家名称和更新时间
    print(areaTree[i]['name'],areaTree[i]['lastUpdateTime'])
    if i == 5:
        break

突尼斯 2020-07-01 01:08:30
塞尔维亚 2020-07-01 00:03:26
中国 2020-07-01 15:28:52
日本 2020-06-15 07:16:58
泰国 2020-07-01 15:48:53
新加坡 2020-07-01 00:28:29

从areaTree中提取每个国家的实时数据

In [40]:
today_world = get_data(areaTree,['id','lastUpdateTime','name']) # areaTree
today_world.head()

,id,lastUpdateTime,name,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,today_input
0,9577772,2020-07-01 01:08:30,突尼斯,1174,0,1031,50,0,0.0,2.0,NaN,2.0,0.0,NaN,NaN,NaN
1,9507896,2020-07-01 00:03:26,塞尔维亚,14564,0,12662,277,0,0.0,276.0,NaN,0.0,0.0,NaN,NaN,NaN
2,0,2020-07-01 15:28:52,中国,85232,0,80071,4648,0,1918.0,5.0,NaN,17.0,0.0,NaN,-12.0,0.0
3,1,2020-06-15 07:16:58,日本,18241,0,16298,940,0,0.0,75.0,NaN,63.0,0.0,NaN,NaN,0.0
4,2,2020-07-01 15:48:53,泰国,3173,0,3059,58,0,0.0,2.0,NaN,3.0,0.0,NaN,NaN,NaN

In [41]:
save_data(today_world,'today_world')

today_world_2020_07_01.csv 保存成功！

### 历史数据爬取
#### 全国历史数据爬取

在数据`data`中，总共有四个键，其中`chinaDayList`存放着中国的历史数据，我们将其取出

In [42]:
data.keys()

dict_keys(['chinaTotal', 'chinaDayList', 'lastUpdateTime', 'overseaLastUpdateTime', 'areaTree'])

In [43]:
chinaDayList = data['chinaDayList'] # 取出 chinaDayList

chinaDayList中键值含义：

|键名称|数据内容|
|--|--|
|date|日期|
|today|当日数据|
|total|累计数据|
|lastUpdateTime|更新时间|

<img src="https://imgkr.cn-bj.ufileos.com/34a1b1a8-ca39-411b-89b7-339641b94bf8.png">

In [44]:
type(chinaDayList) # 查看chinaDayList的格式

list

In [45]:
chinaDayList[0]

{'date': '2020-01-13',
 'today': {'confirm': 0,
  'suspect': 0,
  'heal': 0,
  'dead': 0,
  'severe': None,
  'storeConfirm': 0,
  'input': 0},
 'total': {'confirm': 41,
  'suspect': 0,
  'heal': 0,
  'dead': 1,
  'severe': None,
  'input': 0,
  'storeConfirm': 0},
 'extData': None,
 'lastUpdateTime': None}

可以看到`today`、`total`中也嵌套着字典，因此直接使用定义好的方法从`chinaDayList`中提取全国历史数据

In [46]:
alltime_China = get_data(chinaDayList,['date','lastUpdateTime'])  # date lastUpdateTime
alltime_China.head()

,date,lastUpdateTime,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,total_storeConfirm,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,today_input
0,2020-01-13,None,41,0,0,1,None,0,0,0,0,0,0,None,0,0
1,2020-01-14,None,41,0,0,1,None,0,0,0,0,0,0,None,0,0
2,2020-01-15,None,41,0,5,2,None,0,0,0,0,0,0,None,0,0
3,2020-01-16,None,45,0,8,2,None,0,0,0,0,0,0,None,0,0
4,2020-01-17,None,62,0,12,2,None,0,0,0,0,0,0,None,0,0

In [47]:
save_data(alltime_China,'alltime_China')

alltime_China_2020_07_01.csv 保存成功！

#### 全国各省历史数据爬取

找到第二个数据地址https://c.m.163.com/ug/api/wuhan/app/data/list-by-area-code?areaCode=420000 ，在页面对比发现是湖北省的历史数据。
<img src="https://imgkr.cn-bj.ufileos.com/7c5f2e47-8ec5-429c-b292-377c94c2e311.png">

先以其中一个省为例，先尝试获取其历史数据，其他的省可以使用同样的方法

In [49]:
url = 'https://c.m.163.com/ug/api/wuhan/app/data/list-by-area-code?areaCode=420000' # 定义数据地址
r = requests.get(url, headers=headers) # 进行请求
data_json = json.loads(r.text) # 获取json数据

In [50]:
data_json.keys()

dict_keys(['reqId', 'code', 'msg', 'data', 'timestamp'])

<img src="https://imgkr.cn-bj.ufileos.com/8b21333b-ea30-4f8b-b61a-65710f43cc4a.png">

在`list`中存放着数据

In [51]:
data_json['data']['list'][0]

{'date': '2020-01-20',
 'today': {'confirm': 0,
  'suspect': 0,
  'heal': 0,
  'dead': 0,
  'severe': None,
  'storeConfirm': 0,
  'input': 0},
 'total': {'confirm': 270,
  'suspect': 0,
  'heal': 25,
  'dead': 6,
  'severe': None,
  'input': 0,
  'storeConfirm': 239},
 'extData': None,
 'lastUpdateTime': None}

可以看出一个省一天的的数据格式如上，这和之前的数据结构一样，因此可以使用之前的方法得到数据

In [52]:
data_test = get_data(data_json['data']['list'],['date'])  
data_test['name'] = '湖北省'
data_test.head()

,date,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,total_storeConfirm,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,today_input,name
0,2020-01-20,270,0,25,6,None,0,239,0,0,0,0,None,0,0,湖北省
1,2020-01-21,375,0,28,9,None,0,338,105,0,3,3,None,0,0,湖北省
2,2020-01-22,444,0,28,17,None,0,399,69,0,0,8,None,0,0,湖北省
3,2020-01-23,549,0,31,24,None,0,494,105,0,3,7,None,0,0,湖北省
4,2020-01-24,729,0,32,39,None,0,658,180,0,1,15,None,0,0,湖北省

在湖北省历史数据的地址中，我们发现参数aeraCode=420000，而这刚好和全国各省实时数据today_province中的id对应.

In [53]:
today_province[['id','name']].head() # 输出前五行

       id name
0  420000   湖北
1  440000   广东
2  410000   河南
3  330000   浙江
4  810000   香港

<img src="https://imgkr.cn-bj.ufileos.com/ccd2789b-9ead-4da1-b224-38525d9d6337.png">

因此为了得到每个省的历史数据，我们只需要将各省的行政代码作为参数传入这个地址即可，如下所示：<br>
`https://c.m.163.com/ug/api/wuhan/app/data/list-by-area-code?areaCode=各省行政代码`<br>
例如广东省历史数据的地址为：`https://c.m.163.com/ug/api/wuhan/app/data/list-by-area-code?areaCode=440000`<br>
湖南省历史数据的地址为：`https://c.m.163.com/ug/api/wuhan/app/data/list-by-area-code?areaCode=430000`

但是数据中并没有显示省的名称，因此需要写入每个省的名称。
<img src="https://imgkr.cn-bj.ufileos.com/5110e7f4-d65f-4769-b803-f632927b08c0.png">

以一个简单的数据为例，展示生成字典的方法

In [54]:
a = ['1','2','3','4']
b = ['q','w','e','r']

for i,j in zip(a, b):
    print(i,j)

1 q
2 w
3 e
4 r

In [55]:
{ i:j  for i,j in zip(a, b)}

{'1': 'q', '2': 'w', '3': 'e', '4': 'r'}

In [63]:
today_province[['id','name']].head()

       id name
0  420000   湖北
1  440000   广东
2  410000   河南
3  330000   浙江
4  810000   香港

In [65]:
province_dict = { num:name for num,name in zip(today_province['id'],today_province['name']) } # zip

In [66]:
# 查看前五个内容
count = 0
for i in province_dict:
    print(i,province_dict[i])
    count += 1
    if count == 5:
        break

420000 湖北
440000 广东
410000 河南
330000 浙江
810000 香港

每一个省的列名是相同的，因此多个省的数据合并起来就可以存入一个数据中，数据合并演示的例子如下：

In [59]:
df1 = pd.DataFrame([{'a':1,'b':2,'c':3,},{'a':111,'b':222}])
df1

     a    b    c
0    1    2  3.0
1  111  222  NaN

In [60]:
df2 = pd.DataFrame([{'a':9,'b':8,'c':7,},{'a':345,'c':789}])
df2

     a    b    c
0    9  8.0    7
1  345  NaN  789

In [61]:
df1 = pd.concat([df1,df2],axis=0)
df1

     a      b      c
0    1    2.0    3.0
1  111  222.0    NaN
0    9    8.0    7.0
1  345    NaN  789.0

按照上述方法，得到每一个省的数据后，进行合并

In [67]:
start = time.time()
for province_id in province_dict: # 遍历各省编号
    
    try:
        # 按照省编号访问每个省的数据地址，并获取json数据
        url = 'https://c.m.163.com/ug/api/wuhan/app/data/list-by-area-code?areaCode='+ province_id  
        r = requests.get(url, headers=headers)
        data_json = json.loads(r.text)
        
        # 提取各省数据，然后写入各省名称
        province_data = get_data(data_json['data']['list'],['date'])
        province_data['name'] = province_dict[province_id]
        
        # 合并数据
        if province_id == '420000':
            alltime_province = province_data
        else:
            alltime_province = pd.concat([alltime_province,province_data]) 
            
        print('-'*20,province_dict[province_id],'成功',
              province_data.shape,alltime_province.shape,
              ',累计耗时:',round(time.time()-start),'-'*20)
        
        # 设置延迟等待
        time.sleep(10)
        
    except:
        print('-'*20,province_dict[province_id],'wrong','-'*20)

-------------------- 湖北 成功 (164, 16) (164, 16) ,累计耗时: 0 --------------------
-------------------- 广东 成功 (162, 16) (326, 16) ,累计耗时: 11 --------------------
-------------------- 河南 成功 (162, 16) (488, 16) ,累计耗时: 21 --------------------
-------------------- 浙江 成功 (160, 16) (648, 16) ,累计耗时: 31 --------------------
-------------------- 香港 成功 (164, 16) (812, 16) ,累计耗时: 42 --------------------
-------------------- 湖南 成功 (161, 16) (973, 16) ,累计耗时: 52 --------------------
-------------------- 安徽 成功 (161, 16) (1134, 16) ,累计耗时: 62 --------------------
-------------------- 黑龙江 成功 (153, 16) (1287, 16) ,累计耗时: 73 --------------------
-------------------- 江西 成功 (162, 16) (1449, 16) ,累计耗时: 83 --------------------
-------------------- 北京 成功 (156, 16) (1605, 16) ,累计耗时: 93 --------------------
-------------------- 山东 成功 (156, 16) (1761, 16) ,累计耗时: 104 --------------------
-------------------- 上海 成功 (148, 16) (1909, 16) ,累计耗时: 114 --------------------
-------------------- 江苏 成功 (162, 16) (2071, 16) ,累计耗时: 124 --------------------
-------------------- 四川 成功 (157, 16) (2228, 16) ,累计耗时: 134 --------------------
-------------------- 重庆 成功 (163, 16) (2391, 16) ,累计耗时: 145 --------------------
-------------------- 台湾 成功 (163, 16) (2554, 16) ,累计耗时: 155 --------------------
-------------------- 福建 成功 (155, 16) (2709, 16) ,累计耗时: 166 --------------------
-------------------- 河北 成功 (155, 16) (2864, 16) ,累计耗时: 176 --------------------
-------------------- 陕西 成功 (155, 16) (3019, 16) ,累计耗时: 186 --------------------
-------------------- 广西 成功 (162, 16) (3181, 16) ,累计耗时: 196 --------------------
-------------------- 内蒙古 成功 (158, 16) (3339, 16) ,累计耗时: 207 --------------------
-------------------- 山西 成功 (159, 16) (3498, 16) ,累计耗时: 217 --------------------
-------------------- 天津 成功 (157, 16) (3655, 16) ,累计耗时: 227 --------------------
-------------------- 云南 成功 (155, 16) (3810, 16) ,累计耗时: 238 --------------------
-------------------- 海南 成功 (160, 16) (3970, 16) ,累计耗时: 248 --------------------
-------------------- 甘肃 成功 (152, 16) (4122, 16) ,累计耗时: 258 --------------------
-------------------- 吉林 成功 (157, 16) (4279, 16) ,累计耗时: 269 --------------------
-------------------- 辽宁 成功 (151, 16) (4430, 16) ,累计耗时: 279 --------------------
-------------------- 贵州 成功 (160, 16) (4590, 16) ,累计耗时: 290 --------------------
-------------------- 新疆 成功 (164, 16) (4754, 16) ,累计耗时: 300 --------------------
-------------------- 宁夏 成功 (160, 16) (4914, 16) ,累计耗时: 310 --------------------
-------------------- 澳门 成功 (158, 16) (5072, 16) ,累计耗时: 320 --------------------
-------------------- 青海 成功 (164, 16) (5236, 16) ,累计耗时: 330 --------------------
-------------------- 西藏 成功 (164, 16) (5400, 16) ,累计耗时: 341 --------------------

In [68]:
save_data(alltime_province,'alltime_province')

alltime_province_2020_07_01.csv 保存成功！

#### 世界各国历史数据爬取

In [69]:
url_italy = 'https://c.m.163.com/ug/api/wuhan/app/data/list-by-area-code?areaCode=15'  # 意大利的数据地址
r = requests.get(url_italy, headers=headers) # 进行访问
italy_json = json.loads(r.text) # 导出json数据

In [70]:
italy_json.keys()

dict_keys(['reqId', 'code', 'msg', 'data', 'timestamp'])

In [71]:
italy_json['data'].keys()

dict_keys(['list'])

结合页面观察，发现各国家的历史数据结构和各省的类似。
<img src="https://imgkr.cn-bj.ufileos.com/ee6f9d6a-b174-4242-8789-39bf02b7af5b.png">

In [72]:
italy_json['data']['list'][0] # 查看数据内容

{'date': '2020-01-31',
 'today': {'confirm': 2,
  'suspect': 0,
  'heal': 0,
  'dead': 0,
  'severe': None,
  'storeConfirm': None},
 'total': {'confirm': 2,
  'suspect': 0,
  'heal': 0,
  'dead': 0,
  'severe': 0,
  'input': 0},
 'extData': None,
 'lastUpdateTime': None}

每个国家的数据格式和之前各省的几乎一样，因此使用定义好的方法生成数据，然后把国家名称写入数据

In [73]:
data_italy = get_data(italy_json['data']['list'],['date']) # 生成数据
data_italy['name'] = '意大利' # 写入意大利国家名称
data_italy.head()

,date,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,today_input,name
0,2020-01-31,2,0,0,0,0,0,2,0.0,0,0,NaN,None,NaN,意大利
1,2020-02-01,2,0,0,0,0,0,0,0.0,0,0,NaN,None,0.0,意大利
2,2020-02-02,2,0,0,0,0,0,0,0.0,0,0,NaN,None,0.0,意大利
3,2020-02-03,2,0,0,0,0,0,0,0.0,0,0,NaN,None,0.0,意大利
4,2020-02-04,2,0,0,0,0,0,0,0.0,0,0,NaN,None,0.0,意大利

因为原始数据中没有国家名称，为了得到每个国家的名称，需要生成国家编号和国家名称的键值对，这样就可以存储国家名称，在之前的世界各国实时数据today_world中有国家的编号和名称，可以用它来生成键值对

In [74]:
today_world[['id','name']].head()

        id  name
0  9577772   突尼斯
1  9507896  塞尔维亚
2        0    中国
3        1    日本
4        2    泰国

In [77]:
country_dict = { key:value for key,value in zip(today_world['id'],today_world[ 'name'] )}

In [78]:
# 查看前五个内容
count = 0
for i in country_dict:
    print(i,country_dict[i])
    count += 1
    if count == 5:
        break

9577772 突尼斯
9507896 塞尔维亚
0 中国
1 日本
2 泰国

通过每个国家的编号访问每个国家历史数据的地址，然后获取每一个国家的历史数据

In [79]:
start = time.time()
for country_id in country_dict: # 遍历每个国家的编号
    
    try:
        # 按照编号访问每个国家的数据地址，并获取json数据
        url = 'https://c.m.163.com/ug/api/wuhan/app/data/list-by-area-code?areaCode='+country_id   
        r = requests.get(url, headers=headers)
        json_data = json.loads(r.text)
        
        # 生成每个国家的数据
        country_data = get_data(json_data['data']['list'],['date'])
        country_data['name'] = country_dict[country_id]

        # 数据叠加
        if country_id == '9577772':
            alltime_world = country_data
        else:
            alltime_world = pd.concat([alltime_world,country_data]) 
            
        print('-'*20,country_dict[country_id],'成功',country_data.shape,alltime_world.shape,
              ',累计耗时:',round(time.time()-start),'-'*20)
        
        time.sleep(10)

    except:
        print('-'*20,country_dict[country_id],'wrong','-'*20)

-------------------- 突尼斯 成功 (105, 15) (105, 15) ,累计耗时: 0 --------------------
-------------------- 塞尔维亚 成功 (110, 15) (215, 15) ,累计耗时: 11 --------------------
-------------------- 中国 成功 (146, 15) (361, 15) ,累计耗时: 21 --------------------
-------------------- 日本 成功 (135, 15) (496, 15) ,累计耗时: 31 --------------------
-------------------- 泰国 成功 (121, 15) (617, 15) ,累计耗时: 41 --------------------
-------------------- 新加坡 成功 (138, 15) (755, 15) ,累计耗时: 52 --------------------
-------------------- 韩国 成功 (161, 15) (916, 15) ,累计耗时: 62 --------------------
-------------------- 澳大利亚 成功 (120, 15) (1036, 15) ,累计耗时: 72 --------------------
-------------------- 德国 成功 (127, 15) (1163, 15) ,累计耗时: 82 --------------------
-------------------- 美国 成功 (132, 15) (1295, 15) ,累计耗时: 93 --------------------
-------------------- 马来西亚 成功 (124, 15) (1419, 15) ,累计耗时: 103 --------------------
-------------------- 越南 成功 (95, 15) (1514, 15) ,累计耗时: 113 --------------------
-------------------- 圣巴泰勒米 成功 (30, 15) (1544, 15) ,累计耗时: 124 --------------------
-------------------- 肯尼亚 成功 (99, 15) (1643, 15) ,累计耗时: 134 --------------------
-------------------- 伊朗 成功 (132, 15) (1775, 15) ,累计耗时: 144 --------------------
-------------------- 以色列 成功 (124, 15) (1899, 15) ,累计耗时: 154 --------------------
-------------------- 毛利亚尼亚 成功 (12, 15) (1911, 15) ,累计耗时: 165 --------------------
-------------------- 黎巴嫩 成功 (107, 15) (2018, 15) ,累计耗时: 175 --------------------
-------------------- 克罗地亚 成功 (108, 15) (2126, 15) ,累计耗时: 185 --------------------
-------------------- 奥地利 成功 (118, 15) (2244, 15) ,累计耗时: 196 --------------------
-------------------- 瑞士 成功 (124, 15) (2368, 15) ,累计耗时: 206 --------------------
-------------------- 希腊 成功 (113, 15) (2481, 15) ,累计耗时: 216 --------------------
-------------------- 毛里求斯 成功 (85, 15) (2566, 15) ,累计耗时: 226 --------------------
-------------------- 爱沙尼亚 成功 (107, 15) (2673, 15) ,累计耗时: 237 --------------------
-------------------- 北马其顿 成功 (97, 15) (2770, 15) ,累计耗时: 247 --------------------
-------------------- 白俄罗斯 成功 (102, 15) (2872, 15) ,累计耗时: 257 --------------------
-------------------- 立陶宛 成功 (104, 15) (2976, 15) ,累计耗时: 267 --------------------
-------------------- 阿塞拜疆 成功 (103, 15) (3079, 15) ,累计耗时: 278 --------------------
-------------------- 美属维尔京群岛 成功 (30, 15) (3109, 15) ,累计耗时: 288 --------------------
-------------------- 蒙古 成功 (61, 15) (3170, 15) ,累计耗时: 298 --------------------
-------------------- 乌克兰 成功 (107, 15) (3277, 15) ,累计耗时: 308 --------------------
-------------------- 波兰 成功 (112, 15) (3389, 15) ,累计耗时: 319 --------------------
-------------------- 波黑 成功 (99, 15) (3488, 15) ,累计耗时: 329 --------------------
-------------------- 蒙特塞拉特 成功 (34, 15) (3522, 15) ,累计耗时: 339 --------------------
-------------------- 南非 成功 (113, 15) (3635, 15) ,累计耗时: 349 --------------------
-------------------- 布隆迪 成功 (40, 15) (3675, 15) ,累计耗时: 360 --------------------
-------------------- 南苏丹 成功 (48, 15) (3723, 15) ,累计耗时: 370 --------------------
-------------------- 马耳他 成功 (84, 15) (3807, 15) ,累计耗时: 380 --------------------
-------------------- 摩尔多瓦 成功 (101, 15) (3908, 15) ,累计耗时: 390 --------------------
-------------------- 保加利亚 成功 (105, 15) (4013, 15) ,累计耗时: 401 --------------------
-------------------- 孟加拉 成功 (95, 15) (4108, 15) ,累计耗时: 411 --------------------
-------------------- 阿尔巴尼亚 成功 (88, 15) (4196, 15) ,累计耗时: 421 --------------------
-------------------- 巴勒斯坦 成功 (95, 15) (4291, 15) ,累计耗时: 431 --------------------
-------------------- 科摩罗 成功 (34, 15) (4325, 15) ,累计耗时: 443 --------------------
-------------------- 阿富汗 成功 (103, 15) (4428, 15) ,累计耗时: 453 --------------------
-------------------- 沙特阿拉伯 成功 (115, 15) (4543, 15) ,累计耗时: 464 --------------------
-------------------- 新西兰 成功 (108, 15) (4651, 15) ,累计耗时: 474 --------------------
-------------------- 塔吉克斯坦 成功 (54, 15) (4705, 15) ,累计耗时: 484 --------------------
-------------------- 泽西岛 成功 (30, 15) (4735, 15) ,累计耗时: 494 --------------------
-------------------- 叙利亚 成功 (50, 15) (4785, 15) ,累计耗时: 505 --------------------
-------------------- 巴拿马 成功 (98, 15) (4883, 15) ,累计耗时: 515 --------------------
-------------------- 古巴 成功 (86, 15) (4969, 15) ,累计耗时: 525 --------------------
-------------------- 尼日利亚 成功 (105, 15) (5074, 15) ,累计耗时: 535 --------------------
-------------------- 摩洛哥 成功 (112, 15) (5186, 15) ,累计耗时: 546 --------------------
-------------------- 塞内加尔 成功 (108, 15) (5294, 15) ,累计耗时: 556 --------------------
-------------------- 老挝 成功 (44, 15) (5338, 15) ,累计耗时: 566 --------------------
-------------------- 巴哈马 成功 (62, 15) (5400, 15) ,累计耗时: 576 --------------------
-------------------- 马约特岛 成功 (40, 15) (5440, 15) ,累计耗时: 588 --------------------
-------------------- 斯洛文尼亚 成功 (101, 15) (5541, 15) ,累计耗时: 598 --------------------
-------------------- 卢森堡 成功 (106, 15) (5647, 15) ,累计耗时: 608 --------------------
-------------------- 爱尔兰 成功 (115, 15) (5762, 15) ,累计耗时: 618 --------------------
-------------------- 厄瓜多尔 成功 (102, 15) (5864, 15) ,累计耗时: 629 --------------------
-------------------- 捷克 成功 (116, 15) (5980, 15) ,累计耗时: 639 --------------------
-------------------- 匈牙利 成功 (114, 15) (6094, 15) ,累计耗时: 649 --------------------
-------------------- 法属圭亚那 成功 (48, 15) (6142, 15) ,累计耗时: 660 --------------------
-------------------- 多哥共和国 成功 (68, 15) (6210, 15) ,累计耗时: 670 --------------------
-------------------- 哥斯达黎加 成功 (90, 15) (6300, 15) ,累计耗时: 680 --------------------
-------------------- 文莱 成功 (79, 15) (6379, 15) ,累计耗时: 691 --------------------
-------------------- 法罗群岛 成功 (47, 15) (6426, 15) ,累计耗时: 701 --------------------
-------------------- 马提尼克岛 成功 (57, 15) (6483, 15) ,累计耗时: 711 --------------------
-------------------- 荷兰 成功 (125, 15) (6608, 15) ,累计耗时: 721 --------------------
-------------------- 巴西 成功 (118, 15) (6726, 15) ,累计耗时: 732 --------------------
-------------------- 洪都拉斯 成功 (82, 15) (6808, 15) ,累计耗时: 742 --------------------
-------------------- 乌拉圭 成功 (95, 15) (6903, 15) ,累计耗时: 752 --------------------
-------------------- 秘鲁 成功 (110, 15) (7013, 15) ,累计耗时: 762 --------------------
-------------------- 智利 成功 (117, 15) (7130, 15) ,累计耗时: 773 --------------------
-------------------- 格陵兰 成功 (37, 15) (7167, 15) ,累计耗时: 783 --------------------
-------------------- 圣巴托洛谬岛 成功 (30, 15) (7197, 15) ,累计耗时: 793 --------------------
-------------------- 马尔代夫 成功 (82, 15) (7279, 15) ,累计耗时: 803 --------------------
-------------------- 委内瑞拉 成功 (79, 15) (7358, 15) ,累计耗时: 814 --------------------
-------------------- 毛里塔尼亚 成功 (67, 15) (7425, 15) ,累计耗时: 824 --------------------
-------------------- 纳米比亚 成功 (44, 15) (7469, 15) ,累计耗时: 834 --------------------
-------------------- 法属留尼汪岛 成功 (41, 15) (7510, 15) ,累计耗时: 845 --------------------
-------------------- 波多黎各 成功 (47, 15) (7557, 15) ,累计耗时: 856 --------------------
-------------------- 加纳 成功 (87, 15) (7644, 15) ,累计耗时: 866 --------------------
-------------------- 赤道几内亚 成功 (71, 15) (7715, 15) ,累计耗时: 876 --------------------
-------------------- 几内亚 成功 (92, 15) (7807, 15) ,累计耗时: 886 --------------------
-------------------- 卢旺达 成功 (92, 15) (7899, 15) ,累计耗时: 897 --------------------
-------------------- 格林纳达 成功 (39, 15) (7938, 15) ,累计耗时: 907 --------------------
-------------------- 斯威士兰 成功 (72, 15) (8010, 15) ,累计耗时: 917 --------------------
-------------------- 坦桑尼亚 成功 (74, 15) (8084, 15) ,累计耗时: 927 --------------------
-------------------- 贝宁 成功 (68, 15) (8152, 15) ,累计耗时: 938 --------------------
-------------------- 刚果（金） 成功 (98, 15) (8250, 15) ,累计耗时: 948 --------------------
-------------------- 中非共和国 成功 (67, 15) (8317, 15) ,累计耗时: 958 --------------------
-------------------- 利比里亚 成功 (69, 15) (8386, 15) ,累计耗时: 968 --------------------
-------------------- 索马里 成功 (76, 15) (8462, 15) ,累计耗时: 979 --------------------
-------------------- 塞拉利昂 成功 (72, 15) (8534, 15) ,累计耗时: 990 --------------------
-------------------- 乍得 成功 (66, 15) (8600, 15) ,累计耗时: 1000 --------------------
-------------------- 赞比亚 成功 (85, 15) (8685, 15) ,累计耗时: 1010 --------------------
-------------------- 巴巴多斯 成功 (52, 15) (8737, 15) ,累计耗时: 1020 --------------------
-------------------- 马里 成功 (87, 15) (8824, 15) ,累计耗时: 1031 --------------------
-------------------- 阿根廷 成功 (111, 15) (8935, 15) ,累计耗时: 1041 --------------------

-------------------- 法属波利尼西亚 成功 (36, 15) (8971, 15) ,累计耗时: 1051 --------------------
-------------------- 巴林 成功 (116, 15) (9087, 15) ,累计耗时: 1061 --------------------
-------------------- 莫桑比克 成功 (78, 15) (9165, 15) ,累计耗时: 1072 --------------------
-------------------- 喀麦隆 成功 (92, 15) (9257, 15) ,累计耗时: 1082 --------------------
-------------------- 乌干达 成功 (89, 15) (9346, 15) ,累计耗时: 1093 --------------------
-------------------- 厄立特里亚 成功 (50, 15) (9396, 15) ,累计耗时: 1103 --------------------
-------------------- 刚果（布） 成功 (73, 15) (9469, 15) ,累计耗时: 1114 --------------------
-------------------- 津巴布韦 成功 (77, 15) (9546, 15) ,累计耗时: 1124 --------------------
-------------------- 丹麦 成功 (121, 15) (9667, 15) ,累计耗时: 1135 --------------------
-------------------- 阿鲁巴 成功 (34, 15) (9701, 15) ,累计耗时: 1146 --------------------
-------------------- 斐济 成功 (57, 15) (9758, 15) ,累计耗时: 1157 --------------------
-------------------- 伯利兹 成功 (56, 15) (9814, 15) ,累计耗时: 1167 --------------------
-------------------- 缅甸 成功 (82, 15) (9896, 15) ,累计耗时: 1177 --------------------
-------------------- 塞浦路斯 成功 (102, 15) (9998, 15) ,累计耗时: 1188 --------------------
-------------------- 关岛 成功 (33, 15) (10031, 15) ,累计耗时: 1199 --------------------
-------------------- 科索沃 成功 (34, 15) (10065, 15) ,累计耗时: 1209 --------------------
-------------------- 圣皮埃尔岛和密克隆岛 成功 (21, 15) (10086, 15) ,累计耗时: 1219 --------------------
-------------------- 吉尔吉斯斯坦 成功 (88, 15) (10174, 15) ,累计耗时: 1229 --------------------
-------------------- 博茨瓦纳 成功 (38, 15) (10212, 15) ,累计耗时: 1239 --------------------
-------------------- 尼日尔 成功 (89, 15) (10301, 15) ,累计耗时: 1250 --------------------
-------------------- 苏里南 成功 (58, 15) (10359, 15) ,累计耗时: 1260 --------------------
-------------------- 佛得角 成功 (70, 15) (10429, 15) ,累计耗时: 1270 --------------------
-------------------- 萨尔瓦多 成功 (71, 15) (10500, 15) ,累计耗时: 1280 --------------------
-------------------- 圭亚那 成功 (60, 15) (10560, 15) ,累计耗时: 1291 --------------------
-------------------- 尼加拉瓜 成功 (60, 15) (10620, 15) ,累计耗时: 1301 --------------------
-------------------- 冈比亚 成功 (41, 15) (10661, 15) ,累计耗时: 1311 --------------------
-------------------- 东帝汶 成功 (38, 15) (10699, 15) ,累计耗时: 1321 --------------------
-------------------- 巴基斯坦 成功 (117, 15) (10816, 15) ,累计耗时: 1332 --------------------
-------------------- 埃及 成功 (115, 15) (10931, 15) ,累计耗时: 1342 --------------------
-------------------- 科威特 成功 (114, 15) (11045, 15) ,累计耗时: 1352 --------------------
-------------------- 斯洛伐克 成功 (101, 15) (11146, 15) ,累计耗时: 1363 --------------------
-------------------- 直布罗陀 成功 (39, 15) (11185, 15) ,累计耗时: 1373 --------------------
-------------------- 摩纳哥 成功 (69, 15) (11254, 15) ,累计耗时: 1383 --------------------
-------------------- 巴拉圭 成功 (85, 15) (11339, 15) ,累计耗时: 1393 --------------------
-------------------- 荷属安的列斯 成功 (27, 15) (11366, 15) ,累计耗时: 1404 --------------------
-------------------- 多米尼克 成功 (38, 15) (11404, 15) ,累计耗时: 1414 --------------------
-------------------- 乌兹别克斯坦 成功 (101, 15) (11505, 15) ,累计耗时: 1424 --------------------
-------------------- 黑山 成功 (84, 15) (11589, 15) ,累计耗时: 1434 --------------------
-------------------- 危地马拉 成功 (77, 15) (11666, 15) ,累计耗时: 1445 --------------------
-------------------- 加蓬 成功 (88, 15) (11754, 15) ,累计耗时: 1455 --------------------
-------------------- 苏丹 成功 (83, 15) (11837, 15) ,累计耗时: 1465 --------------------
-------------------- 利比亚 成功 (73, 15) (11910, 15) ,累计耗时: 1475 --------------------
-------------------- 圣马丁岛 成功 (36, 15) (11946, 15) ,累计耗时: 1485 --------------------
-------------------- 土耳其 成功 (112, 15) (12058, 15) ,累计耗时: 1496 --------------------
-------------------- 巴布亚新几内亚 成功 (36, 15) (12094, 15) ,累计耗时: 1506 --------------------
-------------------- 多米尼加 成功 (88, 15) (12182, 15) ,累计耗时: 1516 --------------------
-------------------- 约旦 成功 (100, 15) (12282, 15) ,累计耗时: 1526 --------------------
-------------------- 亚美尼亚 成功 (106, 15) (12388, 15) ,累计耗时: 1537 --------------------
-------------------- 圣基茨和尼维斯 成功 (39, 15) (12427, 15) ,累计耗时: 1547 --------------------
-------------------- 瓜德罗普 成功 (40, 15) (12467, 15) ,累计耗时: 1557 --------------------
-------------------- 安提瓜和巴布达 成功 (53, 15) (12520, 15) ,累计耗时: 1568 --------------------
-------------------- 玻利维亚 成功 (82, 15) (12602, 15) ,累计耗时: 1578 --------------------
-------------------- 哥伦比亚 成功 (105, 15) (12707, 15) ,累计耗时: 1588 --------------------
-------------------- 圣文森特和格林纳丁斯 成功 (37, 15) (12744, 15) ,累计耗时: 1598 --------------------
-------------------- 圣卢西亚 成功 (37, 15) (12781, 15) ,累计耗时: 1609 --------------------
-------------------- 法国 成功 (128, 15) (12909, 15) ,累计耗时: 1620 --------------------
-------------------- 阿联酋 成功 (115, 15) (13024, 15) ,累计耗时: 1630 --------------------
-------------------- 加拿大 成功 (126, 15) (13150, 15) ,累计耗时: 1640 --------------------
-------------------- 印度 成功 (122, 15) (13272, 15) ,累计耗时: 1650 --------------------
-------------------- 英国 成功 (128, 15) (13400, 15) ,累计耗时: 1661 --------------------
-------------------- 意大利 成功 (150, 15) (13550, 15) ,累计耗时: 1671 --------------------
-------------------- 俄罗斯 成功 (120, 15) (13670, 15) ,累计耗时: 1681 --------------------
-------------------- 菲律宾 成功 (116, 15) (13786, 15) ,累计耗时: 1692 --------------------
-------------------- 芬兰 成功 (120, 15) (13906, 15) ,累计耗时: 1702 --------------------
-------------------- 尼泊尔 成功 (72, 15) (13978, 15) ,累计耗时: 1712 --------------------
-------------------- 葡萄牙 成功 (111, 15) (14089, 15) ,累计耗时: 1722 --------------------
-------------------- 也门 成功 (57, 15) (14146, 15) ,累计耗时: 1732 --------------------
-------------------- 塞舌尔 成功 (41, 15) (14187, 15) ,累计耗时: 1743 --------------------
-------------------- 西班牙 成功 (129, 15) (14316, 15) ,累计耗时: 1754 --------------------
-------------------- 斯里兰卡 成功 (104, 15) (14420, 15) ,累计耗时: 1764 --------------------
-------------------- 阿尔及利亚 成功 (108, 15) (14528, 15) ,累计耗时: 1774 --------------------
-------------------- 柬埔寨 成功 (72, 15) (14600, 15) ,累计耗时: 1784 --------------------
-------------------- 海地 成功 (66, 15) (14666, 15) ,累计耗时: 1795 --------------------
-------------------- 瑞典 成功 (121, 15) (14787, 15) ,累计耗时: 1805 --------------------
-------------------- 特里尼达和多巴哥 成功 (45, 15) (14832, 15) ,累计耗时: 1815 --------------------
-------------------- 吉布提 成功 (83, 15) (14915, 15) ,累计耗时: 1826 --------------------
-------------------- 圣多美与普林西比 成功 (36, 15) (14951, 15) ,累计耗时: 1836 --------------------
-------------------- 布基纳法索 成功 (99, 15) (15050, 15) ,累计耗时: 1846 --------------------
-------------------- 比利时 成功 (122, 15) (15172, 15) ,累计耗时: 1857 --------------------
-------------------- 伊拉克 成功 (123, 15) (15295, 15) ,累计耗时: 1867 --------------------
-------------------- 马拉维 成功 (65, 15) (15360, 15) ,累计耗时: 1878 --------------------
-------------------- 冰岛 成功 (109, 15) (15469, 15) ,累计耗时: 1888 --------------------
-------------------- 几内亚比绍 成功 (70, 15) (15539, 15) ,累计耗时: 1898 --------------------
-------------------- 拉脱维亚 成功 (107, 15) (15646, 15) ,累计耗时: 1909 --------------------
-------------------- 不丹 成功 (43, 15) (15689, 15) ,累计耗时: 1919 --------------------
-------------------- 挪威 成功 (122, 15) (15811, 15) ,累计耗时: 1929 --------------------
-------------------- 印度尼西亚 成功 (113, 15) (15924, 15) ,累计耗时: 1939 --------------------
-------------------- 安哥拉 成功 (68, 15) (15992, 15) ,累计耗时: 1950 --------------------
-------------------- 开曼群岛 成功 (37, 15) (16029, 15) ,累计耗时: 1960 --------------------
-------------------- 埃塞俄比亚 成功 (87, 15) (16116, 15) ,累计耗时: 1970 --------------------
-------------------- 梵蒂冈 成功 (42, 15) (16158, 15) ,累计耗时: 1981 --------------------
-------------------- 科特迪瓦 成功 (100, 15) (16258, 15) ,累计耗时: 1991 --------------------
-------------------- 卡塔尔 成功 (115, 15) (16373, 15) ,累计耗时: 2001 --------------------
-------------------- 莱索托 成功 (26, 15) (16399, 15) ,累计耗时: 2012 --------------------
-------------------- 格鲁吉亚 成功 (107, 15) (16506, 15) ,累计耗时: 2022 --------------------
-------------------- 墨西哥 成功 (112, 15) (16618, 15) ,累计耗时: 2032 --------------------
-------------------- 圣马力诺 成功 (80, 15) (16698, 15) ,累计耗时: 2042 --------------------
-------------------- 哈萨克斯坦 成功 (105, 15) (16803, 15) ,累计耗时: 2053 --------------------
-------------------- 安道尔 成功 (90, 15) (16893, 15) ,累计耗时: 2063 --------------------

-------------------- 牙买加 成功 (75, 15) (16968, 15) ,累计耗时: 2074 --------------------
-------------------- 格恩西岛 成功 (29, 15) (16997, 15) ,累计耗时: 2084 --------------------
-------------------- 罗马尼亚 成功 (114, 15) (17111, 15) ,累计耗时: 2094 --------------------
-------------------- 阿曼 成功 (115, 15) (17226, 15) ,累计耗时: 2104 --------------------
-------------------- 列支敦士登 成功 (48, 15) (17274, 15) ,累计耗时: 2116 --------------------
-------------------- 马达加斯加 成功 (78, 15) (17352, 15) ,累计耗时: 2126 --------------------

In [80]:
save_data(alltime_world,'alltime_world')

alltime_world_2020_07_01.csv 保存成功！